#export ADDR=":3000"
#export EXTERNAL_URL=":3000"
#export DB_ADDR=postgresql://postgres.tkfftojfionbzwezsebo:Eli-210418@aws-0-us-west-1.pooler.supabase.com:6543/postgres
export ADDR=":3000"
export EXTERNAL_URL="localhost:3000"
export DB_ADDR=postgres://admin:adminpassword@db.backend.orb.local/rosafiesta?sslmode=disable
export MAILTRAP_API_KEY="a58ed14dbed2d6110f3705cfa0dc7ccd"
export MAILTRAP_FROM_EMAIL="jeudrypp@gmail.com"
export MAIL_FROM_EMAIL="jeudrypp@gmail.com"
export MAIL_PASSWORD="mavk uwbo nomv zgjh"
export REDIS_ENABLED="false"
export CORS_ALLOWED_ORIGINS=["*","androidapp://*"]